@media only screen  and (min-width : 1224px) {

    body {
        display: flex;
        height: 100vh;
    }

    #main-doc {
        flex: 1 1 auto;
        overflow: auto;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        border-right: 2px solid black;
        padding: 2%;
    }

    #navbar * {
        padding: 4%;
    }

    #navbar a {
        border-top: 1px solid black;
    }
}

body {
    font-size: 1.2rem;
}

#navbar a {
    font-size: 1.4rem;
    text-decoration: none;
}

#main-doc {
    padding: 1% 3%;
}

header {
    font-size: 1.7rem;
}